$url-font: "~@/assets/font/";
@font-face {
  font-family: $family;
  font-weight:100;
  src: url($url-font + 'NotoSans-Light.eot');
  src: url($url-font + 'NotoSans-Light.eot?#iefix') format('embedded-opentype'),
    url($url-font + 'NotoSans-Light.woff') format('woff'),
    url($url-font + 'NotoSans-Light.otf') format('truetype');
 }
 @font-face {
  font-family: $family;
  font-weight:200;
  src: url($url-font + 'NotoSans-DemiLight.eot');
  src: url($url-font + 'NotoSans-DemiLight.eot?#iefix') format('embedded-opentype'),
    url($url-font + 'NotoSans-DemiLight.woff') format('woff'),
    url($url-font + 'NotoSans-DemiLight.otf') format('truetype');
 }
 @font-face {
  font-family: $family;
  font-weight:400;
  src: url($url-font + 'NotoSans-Regular.eot');
  src: url($url-font + 'NotoSans-Regular.eot?#iefix') format('embedded-opentype'),
    url($url-font + 'NotoSans-Regular.woff') format('woff'),
    url($url-font + 'NotoSans-Regular.otf') format('truetype');
 }
 @font-face {
  font-family: $family;
  font-weight:500;
  src: url($url-font + 'NotoSans-Medium.eot');
  src: url($url-font + 'NotoSans-Medium.eot?#iefix') format('embedded-opentype'),
    url($url-font + 'NotoSans-Medium.woff') format('woff'),
    url($url-font + 'NotoSans-Medium.otf') format('truetype');
 }
 @font-face {
  font-family: $family;
  font-weight:700;
  src: url($url-font + 'NotoSans-Bold.eot');
  src: url($url-font + 'NotoSans-Bold.eot?#iefix') format('embedded-opentype'),
    url($url-font + 'NotoSans-Bold.woff') format('woff'),
    url($url-font + 'NotoSans-Bold.otf') format('truetype');}