@import "variables";
@import "font";
@import "reset";


@mixin clear {
  display:block;
  clear:both;
  &:after {
    display:block;
    height:0;
    content:".";
    font-size:0;
    visibility:hidden;
    clear:both}
}
#app{
  height:$h100;
  .item{
    height:$h100;
    position: relative;
  }
}

.header{
  color: #ff5e00;
  background-color: rgba(0, 0, 0, .6);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding:20px;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 10;
  top:-86px;
  transition: all 0.5s ease-out 1s;
  &.open{
    top:0;
  }
  .hlogo{
    display: inline-block;
    vertical-align: middle;
  }
  #nav{
    display: inline-block;
    vertical-align: middle;
    margin-left:40px;
    position: relative;
    top: -3px;
    a{
      font-weight: 100;
      font-size: 20px;
      color:#fff;
      text-transform: uppercase;
      letter-spacing: 0.05em;
      &.active,
      &.router-link-exact-active{
        color:#00d0ff;
        opacity: 1;
      }
      &:hover{
        color:#00d0ff;
        opacity: 0.6;
      }
    }
    span{
      display: inline-block;
      vertical-align: middle;
      font-size: 12px;
      margin: 0 29px;
      position: relative;
      font-weight: 100;
      top: -5px;
      color: #666;
    }
  }
  .link{
    position: absolute;
    right:29px;
    top:29px;
    @include clear;
    li{
      float:left;
      margin-left:25px;
      svg{
        fill: #fff;
        vertical-align: middle;
      }
      a:hover{
        svg{
          fill: #ff8400;
        }
        span{
          color:#ff8400;
          text-decoration: underline;
        }
      }
      span{
        display: inline-block;
        vertical-align: middle;
        color:#fff;
        font-size: 11px;
        margin-left:10px;
        letter-spacing: 0.05em;
      }
    }
  }
}

.introloading{
  position: fixed;
  left:50%;
  top:50%;
  transform: translate(-50%, -50%) scale(3);
  transition: all 1s ease-out 0s;
  svg.line{
    filter: drop-shadow(1px 2px 1px rgba(0, 0, 0, 1));
    path{
      stroke:#fff;
      fill:transparent;
    }
  }
  svg.bg{
    position: absolute;
    left:0;
    top:0;
    opacity: 0;
    transition: all 1s ease-out 0s;
  }
  &.bg{
    svg.bg{
      opacity: 1;
    }
  }
  &.none{
    opacity: 0;
  }
}


.cont_list{padding:0 15px;
  .page_title{
    font-size: 180px;
    font-weight: 700;
    text-transform: uppercase;
    color:$bg_fcolor;
    letter-spacing: -0.05em;
    margin-bottom: -100px;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
    opacity: 0;
    transition: all 0.5s ease-out 0s;
    position: relative;
    top:100px;
    height:270px;
    &.on{
      top:0;
      opacity: 0.2;
    }
  }
}

.container {
  --gap: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: var(--gap);
  grid-auto-rows: 5px;
  .itemcont{
    background-color: rgba(255, 255, 255, 0.8);
    color:$bg_fcolor;
    padding:20px;
    border-radius: 0;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease-out 0s;
    cursor: pointer;
    box-shadow: 4px 4px 3px 4px rgba(0, 0, 0, .2);
    transform: scale(0);
    transform-origin: center;
    &.scale_on{
      transform: scale(1);
    }
    &:after{
      content:'';
      display: block;
      position: absolute;
      left:0;
      right:0;
      top:0;
      height:3px;
    }
    &.fd::after{
      background: #299D47;
    }
    &.wp::after{
      background: #39AAC3;
    }
    .company{
      font-size: 14px;
      font-weight: 500;
      margin-left:3px;
      margin-top:10px;
    }
    .order{
      font-size: 14px;
      font-weight: 500;
      margin-left:3px;
    }
    .position{
      font-size: 14px;
      font-weight: 500;
      margin-left:3px;
      margin-top:10px;
    }
    .ti{
      font-weight: 700;
      font-size: 32px;
      text-transform: uppercase;
      line-height: 1.1;
      letter-spacing: -0.05em;
    }
    .work{
      margin-top: 12px;
      font-size: 14px;
      font-weight: 500;
      color:#333;
      margin-left:3px;
    }
    .tag{
      margin-left:3px;
      li{
        display: inline-block;
        margin-right:5px;
        padding:2px 6px 3px;
        font-size: 10px;
        color:#fff;
        letter-spacing: 0em;
        text-transform: uppercase;
        line-height: 1;
        border-radius: 20px;
        &.vuejs{background: #299D47;}
        &.javascript{background: #39AAC3;}
        &.css{background: #BE7B34;}
        &.html{background: #929b1b;}
        &.magento{background: #9b1b86;}
        &.wordPress{background: #1b449b;}
      }
    }
    .service_list{
      margin-left:-5px;
      margin-top:20px;
      li{
        display: inline-block;
        font-size: 10px;
        letter-spacing: 0em;
        margin-left:10px;
        color:#666;
        svg{vertical-align: middle;}
        span{text-align: center;margin-left:3px;}
      }
    }
    .memo{
      position: absolute;
      bottom:-100%;
      left:0;
      right:0;
      height:0;
      overflow: hidden;
      background-color: rgba(0, 0, 0, .9);
      color:#fff;
      transition: all 0.4s ease-out 0s;
      font-size: 13px;
      letter-spacing: 0em;
      padding:0 20px;
    }
    &:hover{
      background-color: rgba(255, 255, 255, 1);
      z-index: 2;
      border-radius: 0px;
      .memo{
        height:auto;
        bottom:0;
        padding:20px;
      }
    }
  }
}
@media screen and (max-width: 1280px) {
  .container {
      grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 960px) {
  .container {
      grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 500px) {
  .container {
      display: block;
      grid-template-columns: repeat(1, 1fr);
  }

  .item {
      margin-bottom: var(--gap);
  }
}